#pitchmojo {

  hr {
    width: 3em;
    margin-top: 3em;
    margin-bottom: 3.5em;
    border-width: 0;
    border-top: 1px solid rgba(249,249,249,0.31);
  }

  .wrapper {
    display: table;
    width: 100%;
    // @extend %clearfix;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
    @extend %container;
    text-align: left;

    @media screen and (min-width: $small-devices-up) {
      padding: 2.5em 3em;
    }

    @media screen and (min-width: $medium-devices-up) {
      padding: 2.8em 4em;
    }

    p {
      padding: 0.5em 0;
      font-size: 1.1em;

      @media screen and (min-width: $small-devices-up) {
        font-size: 1.2em;
      }

      @media screen and (min-width: $medium-devices-up) {
        font-size: 1.3em;
      }
    }

    // Section Icons
    p.section-icon {
      text-align: center;
    }

    .fa {
      text-align: center;
      color: #C7C9C9;
      font-size: 2.5em;
    }
  }

  .case-study-hero {
    text-align: center;
    height: 25em;
    @include work-bg("../images/pitchmojo/casestudy-pitchmojo-hero.jpg");

    @media screen and (min-width: $small-devices-up) {
      height: 30em;
    }

    @media screen and (min-width: $medium-devices-up) {
      height: 35em;
    }

    p {
      font-size: 2em;
      padding: 0;
      color: $body-text-color-light;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
      @media screen and (min-width: $small-devices-up) {
        font-size: 2.7em;
      }
      @media screen and (min-width: $medium-devices-up) {
        font-size: 3.4em;
      }
    }

    h3 {
      font-size: 2.5em;
      color: #ED2030;
      text-shadow: 0px 2px 4px #171617;
      padding-bottom: 0.3em;
      @media screen and (min-width: $small-devices-up) {
        font-size: 3em;
      }
      @media screen and (min-width: $medium-devices-up) {
        font-size: 3.5em;
      }
    }

    h4 {
      color: #F9F9F9;
      @media screen and (min-width: $medium-devices-up) {
        font-size: 1.1em;
      }
    }

  }

  //Project one-liner
  .project-description {
    p {
      font-family: $primary-font-stack;
      font-weight: 300;
      font-size: 1.2em;
      color: #A5A5A5;
      @media screen and (min-width: $small-devices-up) {
        font-size: 1.4em;
      }
      @media screen and (min-width: $medium-devices-up) {
        font-size: 1.6em;
      }
    }
  }

  // Project info
  .overview {
    background-color: #55C8CB;
    width: 100%;
    @extend %clearfix;

    .content {
      display: inline-table;
    }

    p {
      font-size: 1.2em;
      color: #4E4E4E;
      @media screen and (min-width: $small-devices-up) {
        font-size: 1.3em;
      }
      @media screen and (min-width: $medium-devices-up) {
        font-size: 1.4em;
      }
    }

    hr {
      margin: 1.5em 0;
      width: 3em;
      border-width: 0;
      border-top: 1px solid rgba(249,249,249,0.31);
    }

    @media screen and (min-width: $medium-devices-up) {
      .content {
        width: 50%;
      }

      .project {
        float: left;
      }

      .role {
        float: right;
      }


    }
  }


  //intro
  .intro .content {
    p:nth-child(2) {
      font-family: $primary-font-stack;
      font-weight: 400;
      font-size: 1.5em;
      color: #ED2030;

      @media screen and (min-width: $small-devices-up) {
        font-size: 1.7em;
      }

      @media screen and (min-width: $medium-devices-up)  {
        font-size: 1.9em;
      }

    }
  }

  //problem
  .problem {
    background-color: #fff;
    .content {
      p:nth-child(1) {
        font-family: $primary-font-stack;
        font-weight: 300;
        font-size: 1.5em;
        color: #ED2030;
        text-align: center;

        @media screen and (min-width: $medium-devices-up)  {
          font-size: 1.8em;
        }
      }
    }
  }

  //solution 
  .solution {
    background-color: #2F2F2D;
    .content {
      p:nth-child(2) {
        font-family: $primary-font-stack;
        font-weight: 300;
        font-size: 1.5em;
        color: #55C8CB;
        text-align: center;

        @media screen and (min-width: $medium-devices-up)  {
          font-size: 1.8em;
        }
      }
      p:nth-child(3) {
        color: $body-text-color-light;
      }
    }
  }

  //case-study-images
  .case-study-image {

    .content {
      padding: 0;
    }

    img {
      @extend %full-width-img;
    }
  }

  //status
  .status {
    .content {
      p:nth-child(1) {
        font-family: $primary-font-stack;
        font-weight: 300;
        color: #000;
        text-align: center;
      }
    }
  }

  //feedback
  .feedback {
    background-color: #4E4E4E;
    .content {
      p {
        color: $body-text-color-light;
        font-weight: 400;
        span.quote {
          color: $body-text-color-light;
        }
      }
      p:nth-child(1), h6 {
        color: #C7C9C9;
      }

      h6 {
        font-weight: 400;
      }
    }
  }

  // View Other Case Studies

  .view-other-work {
    background-color: #fff;

    p {
      @extend %p-centered;
      font-size: 1.1em;
      color: #4E4E4E;

      @media screen and (min-width: $small-devices-up) {
        font-size: 1.3em;
      }

      @media screen and (min-width: $medium-devices-up)  {
        font-size: 1.5em;
      }
    }

  }

  .view-sutra, .view-jottly {
    background-color: #4BC4D5;
    display: block;

    .content {
      display: table;
    }
    @media screen and (min-width: $small-devices-up) {
      width: 50%;
    }

    p {
      @extend %p-centered;
      font-size: 1.1em;
      color: #4E4E4E;

      @media screen and (min-width: $small-devices-up) {
        font-size: 1.5em;
      }

      @media screen and (min-width: $medium-devices-up)  {
        font-size: 1.9em;
      }

      a {
        color: #000;
      }
    }
  }

  .view-jottly {
    @media screen and (min-width: $small-devices-up) {
      float: left;;
    }
  }

  .view-sutra {
    background-color: #F6C41F; 

    @media screen and (min-width: $small-devices-up) {
      float: right;
    }
  }
}



