h2 {
  color: $section-header-color;
  font-weight: 600;
  font-size: 2em;
  @media screen and (min-width: $small-devices-up) {
    font-size: 2.5em;
  }
  @media screen and (min-width: $medium-devices-up) {
    font-size: 3em;
  }
  @media screen and (min-width: $large-devices-up) {
    font-size: 3.5em;
  }
}

h3 {
  font-size: 2.3em;
  font-weight: 700;

  @media screen and (min-width: $small-devices-up) {
    font-size: 3em;
  }

  @media screen and (min-width: $large-devices-up) {
    font-size: 3.2em;
  }
}

h4 {
  font-size: 0.9em;
  font-weight: 100;

  @media screen and (min-width: $small-devices-up) {
    font-size: 1em;
  }

  @media screen and (min-width: $large-devices-up) {
    font-size: 1.2em;
  }
}

p {
  font-family: $secondary-font-stack;
  font-weight: 400;
  font-size: 1.1em;
  color: $body-text-color;
  line-height: 1.5;

  @media screen and (min-width: $small-devices-up) {
    font-size: 1.3em;
  }

  @media screen and (min-width: $medium-devices-up) {
    font-size: 1.5em;
  }

  @media screen and (min-width: $large-devices-up) {
    font-size: 1.7em;
  }
}

p > span {
  @extend %highlight;
  font-style: italic;
}

h5 {
  font-weight: 600;
  font-size: 1.8em;
  color: #4E4E4E;
  @media screen and (min-width: $small-devices-up) {
    font-size: 2em;
  }
}

h6 {
  font-weight: 300;
  font-size: 1.5em;
  color: #ED2030;
  text-align: center;
  line-height: 1.8;

  @media screen and (min-width: $small-devices-up) {
    font-size: 1.7em;
  }
}