
$background-color: #F9F9F9;
$nav-text-color: #4E4E4E;
$body-text-color: #707070;
$primary-highlight-color: #DE6162;

$section-header-color: #C9C9C9;

$primary-font-stack: "proxima-nova",sans-serif;
$secondary-font-stack: "minion-pro",serif;